body {
  margin: 0;
  background-color:rgb(173, 160, 190);
  text-align:center;
}

.info-box {
  padding:15px;
  background-color:#eeeeee;
  margin:5px 20px;

}



img {
  height:300px;
  width:300px;
  margin:auto;
}

.item {
  display:inline-grid;
  border-style:solid;
  padding:10px;
  margin:10px;
  background-color:rgb(183, 184, 228);
  height:500px;
  width:300px;
}

button {
  text-align:center;
}

.text-input {
  font-size:14px;
  padding:10px;
  margin:5px 10px;
  border-radius: 3px;
}

.navbar {
  display:block;
  padding:20px;
  background-color: #dddddd;
  list-style-type:none;
  
}

.nav-link {
  padding:10px 20px;
  text-decoration:none;
  margin:10px;
  font-size:18px;
  color:black;
  border-style:solid;
  background-color:bisque
}
