body {
  margin: 0;
  background-color:rgb(50, 39, 63);
  text-align:center;
}

.info-box {
  padding:15px;
  background-color:#eeeeee;
  margin:5px 20px;
  display:inline-block;
}

h1 {
  color:rgb(215, 236, 236)
}

p {
  padding: 10px
}

.name-box {
  background-color: rgb(101, 88, 214);
  margin:0px 0px;
  padding:10px;
  color:aliceblue
}

img {
  height:300px;
  width:300px;
}

.item {
  display:inline-grid;
  border-style:solid;
  margin:10px;
  background-color:rgb(183, 184, 228);
  height:500px;
  width:300px;
}


button {
  text-align:center;
  background-color:#8a0f0f;
  color:rgb(255, 255, 255);
}

.text-input {
  font-size:14px;
  padding:10px;
  margin:5px 10px;
  border-radius: 3px;
}

.navbar {
  padding:20px;
  background-color: #7b8d9c;
  list-style-type:none;
}

.nav-link {
  padding:10px 20px;
  text-decoration:none;
  margin:10px;
  font-size:18px;
  color:black;
  border-style:solid;
  background-color:rgb(215, 236, 236);
}
