body {
  margin: 0;
  background-color:cornsilk;
  text-align:center;
}


img {
  height:300px;
  width:300px;
  margin:auto;
}

.item {
  display:inline-grid;
  border-style:solid;
  padding:10px;
  margin:10px;
  background-color:white;
  width:300px;
}

button {
  text-align:center;
}

.text-input {
  font-size:14px;
  padding:10px;
  margin:5px 10px;
  border-radius: 3px;
}
